
.floatRight {
    float: right;
}

.iconButtonOperacoes {
    padding-left: 0px !important;
}

.testeControleButtons {
    padding-left: 0px !important;
}

.controleSearIcon {
    padding-left: 0px !important;
}